.wrapper {
    /*margin: 20px;*/
    padding: 10px;
}

.wrapper h2 {
    font-size: 20px;
    text-transform: uppercase;
}

.content {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    /*padding: 10px;*/
}

.content.success {
    border: 2px solid green;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #4EB1BA;
}

.header.success {
    background-color: #2dd36f;
    color: white;
}

.header.error {
    background-color: #FFA500;
    color: white;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
}

.snippetWrapper {
    padding: 10px;
}

.snippet {
    margin: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.answers {
    padding: 10px;
    margin: 20px 0;
}

.correct {
    border: 1px solid green;
}

.incorrect {
    border: 1px solid red;
}
